@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Poppins:wght@300;400;500;600&family=Special+Elite&display=swap');

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:whitesmoke;
    height:100vh;
    width:100%;
    display:flex;
}
header{
    height:10%;
    font-size:40px;
    letter-spacing:10px;
    text-align: center;
    padding-top:20px;
}
#loginVisuals{
    width:60%;
    position:relative;
    background-color:azure
}
#loginVisuals > h1 {
    position:absolute;
    top:200px;
    left:100px;
    font-size:50px;
    letter-spacing: 15px;
    font-family: 'Mynerve', cursive;
    z-index:1;
}

#loginVisuals > p {
    position:absolute;
    top:350px;
    left:100px;
    font-size:25px;
    letter-spacing: 15px;
    font-family: 'Mynerve', cursive;
    z-index: 1;
}
#loginVisuals > #sun {
    z-index: 0;
    background-color: yellow;
    border-radius:50%;
    width:160px;
    height:160px;
    box-shadow: 0 0 50px 10px yellow;
    position:absolute;
    bottom: -100px;
    left:250px;
}


h2{
    letter-spacing:2px;
    font-size:40px;
    color:rgba(3, 24, 32, 0.392);
    padding:50px;
}

.login_form{

border-right:2px solid rgba(0, 0, 0, 0.308);
background-color:whitesmoke;
width:40%;
height:100%;
display:flex;
flex-direction: column;
gap:20px;
justify-content: center;
align-items: center;
}

.login_form > input {
    width:40%;
    height:35px;
}
.login_form > button {
    width:20%;
    height:35px;
    font-size:15px;
    border-radius:5px;
    transition:1s;
}
.login_form > button:hover {
    transition:1s;
    background-color:aliceblue;
}


/***********REGISTER CONTAINER*********************/

.container {
    width:100%;
    height:100%;
    background-color:whitesmoke;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;    
    gap:40px;
}
.container > button {
    width:100px;
    height:40px;
    letter-spacing:3px;
}
.container > button:hover {
    background-color:rgba(255, 255, 255, 0.691);
}

.container > h1{
    letter-spacing:10px;
    font-size:40px;
    padding:30px;
}


#errorMessage{
    font-size:12px;
    color:Red;
    position:absolute;
    top:330px;
}

#paragraphSuccess{
    font-size:12px;
    color:green;
    position:absolute;
    top:330px;
}


/**************DIARY PAGE******************/


.containerOfMyDiary{
    width:100%;
    height:100%;
}



.containerOfPosts{
    height:100%;
    width:100%;
    display:flex;
    position:relative;
    display:flex;
    justify-content: center;
}

.containerOfPosts > .sidebar {
width:20%;
height:100%;
border-right:1px solid black;
border-top:1px solid black;
position:fixed;
left:0;
}
.sidebar > h1 {
    font-size:15px;
    letter-spacing: 5px;
    font-family: 'Mynerve', cursive; 
    padding-left:5px;
    padding-top:5px;
    text-align: center;
    cursor:pointer;
}
.sidebar > p {
    text-align: center;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.containerOfPosts > .posts {
width:60%;
height:100%;
border-top:1px solid black;
}

/******CONTAINERS_INPUTS*****/
.posts> .containerOfInputs{
    padding:20px;
    padding-top:60px;
    display:Flex;
    align-items: center;
    justify-content: center;
}
.containerOfInputs > .circleAroundInputs {
    width:80%;
    height:100%;
    padding:10px;
    background-color: rgb(252, 252, 252);
    display:flex;
    gap:20px;
    flex-direction: column;
    align-items: center;
}
.containerOfInputs > .circleAroundInputs > .submitPost {
    width:100px;
    height:30px;
    letter-spacing: 3px;
    border-color: rgb(223, 223, 223);
}
.containerOfInputs > .circleAroundInputs > .submitPost:hover {
    border-color: rgb(159, 199, 206);
}

.posts > .containerOfInputs > .circleAroundInputs> .titleInput{
    width:38%;
    margin-right:150px;
    height:35px;
    border-color: aliceblue;
    border-top-right-radius: 10px;
}
.posts > .containerOfInputs > .circleAroundInputs > .contentInput{
    width:61%;
    height:150px;
    resize: none;
    border-top-right-radius: 10px;
    border-color: rgb(118, 144, 165);
}


/**********SECRET POST SECTION*********/

.containerOfPosts > .news {
    width:20%;
    height:100%;
    border-left:1px solid black;
    border-top:1px solid black;
    position:fixed;
    right:0;
    display:flex;
    flex-direction: column;
    }

    .news > .containerOfSearch {
        height:25%;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .secretContainer > h1 {
        font-family: 'Special Elite', cursive;
        font-size:20px;
        text-align:center;
        padding:10px;
        opacity: 0.8;
        border-top:1px solid black;
        padding-top:20px;
    }

    .containerOfSearch > input {
        padding:20px;
        width:80%;
        height:10px;
        align-items: center;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-color:rgb(1, 8, 13);
    }
    .containerOfSearch > button {
        width:20px;
        height:44px;
        border-color:rgb(1, 2, 3);
        border-right:none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .containerOfSearch > button:hover {
        background-color: azure;
    }
/************allPosts****************/


.allPosts{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.03);
}
.PostDiv {
    width:80%;
    border: 1px solid rgb(194, 224, 237);
    padding:20px;
    margin:20px;
}
.PostDiv:hover {
    border: 1px solid rgb(151, 178, 189); 
    background-color: white;
    width:81%;
}
.PostDiv > h3 {
font-size:25px;
text-align: center;
padding:20px;
}
.PostDiv > .usernameP {
    font-size:12px;
    font-style: oblique;
}
.PostDiv > .usernameP:hover {
    color:rgba(7, 20, 20, 0.562);
    cursor:pointer
}
.PostDiv > .contentP {
    font-size:15px;
    padding:20px;
    text-align: center;
}